body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:rgb(118, 170, 118);

}

#hoved {
    text-align: center;
}

#dyrBilde {
    height: 500px;
    object-fit: cover; 
}

